
.icon-battlecode-upload:before { content: '\e800'; } /* '' */
.icon-battlecode-stop:before { content: '\e801'; } /* '' */
.icon-battlecode-pause:before { content: '\e802'; } /* '' */
.icon-battlecode-to-end:before { content: '\e803'; } /* '' */
.icon-battlecode-to-end-alt:before { content: '\e804'; } /* '' */
.icon-battlecode-to-start:before { content: '\e805'; } /* '' */
.icon-battlecode-to-start-alt:before { content: '\e806'; } /* '' */
.icon-battlecode-fast-fw:before { content: '\e807'; } /* '' */
.icon-battlecode-fast-bw:before { content: '\e808'; } /* '' */
.icon-battlecode-list:before { content: '\e809'; } /* '' */
.icon-battlecode-folder-open:before { content: '\e80a'; } /* '' */
.icon-battlecode-folder-open-empty:before { content: '\e80b'; } /* '' */
.icon-battlecode-folder:before { content: '\e80c'; } /* '' */
.icon-battlecode-folder-empty:before { content: '\e80d'; } /* '' */
.icon-battlecode-cog:before { content: '\e80e'; } /* '' */
.icon-battlecode-cog-alt:before { content: '\e80f'; } /* '' */
.icon-battlecode-wrench:before { content: '\e810'; } /* '' */
.icon-battlecode-sliders:before { content: '\e811'; } /* '' */
.icon-battlecode-menu:before { content: '\e812'; } /* '' */
.icon-battlecode-link-ext-alt:before { content: '\e813'; } /* '' */
.icon-battlecode-link-ext:before { content: '\e814'; } /* '' */
.icon-battlecode-down-open:before { content: '\e815'; } /* '' */
.icon-battlecode-left-open:before { content: '\e816'; } /* '' */
.icon-battlecode-right-open:before { content: '\e817'; } /* '' */
.icon-battlecode-up-open:before { content: '\e818'; } /* '' */
.icon-battlecode-resize-full-alt:before { content: '\e819'; } /* '' */
.icon-battlecode-play:before { content: '\e81a'; } /* '' */