html,body{height:100%;}
body {
    background:#fff;
    padding:0;
    margin:0;
    overflow:hidden;
    font-size: 14px;
}
table, tr, td{
	font-size: 14px;
}

/**
 * 	CANVAS / GAME
 */
#container canvas{
    position: absolute;
    z-index: 1;
    cursor: move;
}

/**
 * 	infolayer
 */
.infolayer{
    position: absolute;
    bottom: 0;
    z-index: 98;
    width: 100%;
    pointer-events: none;
     -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.infolayer .controlsbackground{
    background: rgba(0, 0, 0, 0.7);
    /* background: #000; */
    /* -webkit-transition:opacity .5s ease-in; */
    /* -moz-transition:opacity .5s ease-in; */
    /* -o-transition:opacity .5s ease-in; */
    /* transition:opacity .5s ease-in; */
    /* opacity:0.7; */
    overflow: hidden;
    width: 400px;
    color: #fff;
}
.infolayer .off{
    /* background: rgba(0, 0, 0, 0.7); */
    /* opacity:0.4; */
    /* color: #000; */
}
.infolayer .left{
    float: left;
    width: 50%;
}
.infolayer .right{
    float: right;
    width: 50%;
}



.left .controlsbackground{
    float: left;
    padding: 0 0 5px 5px;
}
.left .photo{
    float: left;
    border-bottom-color: #8C030E;
    border-bottom-width: 10px;
    border-bottom-style: solid;
}

.right .controlsbackground{
    padding: 0 5px 5px 0;
    float: right;
}
.right .photo{
    float: right;
    border-bottom-width: 10px;
    border-bottom-color: #0027B3;
    border-bottom-style: solid;
}
.right h3{
    text-align: right;
}
.photo{
    margin: 4px;
    height: 128px;
    width: 128px;
}
.bar{
    margin: 10px 0 0 4px;
    height: 20px;
}
.trophies{
    overflow: hidden;
    list-style: none;
    padding: 0;
}
.trophies li{
    float: left;
    margin: 0 5px;
    display: block;
    width: 20px;
    height: 20px;
    background: #E8DF32;
}
.towers{
    list-style: none;
    overflow: hidden;
    padding: 0;
}
.right .towers li, .right .hq, .right .trophies li{
    float: right;
}
.towers li{
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 5px;
}
.towers .alive{
    background-color: #A9D085;

}
.towers .dead{
    background-color: #E7EDE2;
}
.hq{
    width: 200px;
    height: 20px;
    display: block;
    background: #008000;
    float: left;
    position: relative;
}
.hq > span{
    display: block;
    height: 100%;
    background-color: #2BC253;
    position: relative;
    overflow: hidden;
}

.robots{
    overflow: hidden;
    width: 100%;
    height: 42px;
}
.commander{
    width: 180px;
    height: 32px;
    display: none;
    position: relative;
}
.commander:before{
    content: "";
    width: 32px;
    height: 32px;
    display: block;
    position: absolute;
    float: left;
}
.left .commander{
    padding-left: 32px;
    float: left;
}
.left .commander:before{
    background: url('/assets/images/commander1.png') no-repeat;
    left: 0;
}
.right .commander{
    padding-right: 32px;
    float: right;
}
.right .commander:before{
    background: url('/assets/images/commander2.png') no-repeat right;
    right: 0;
    transform: rotate(180deg);
}
.commander > span{
    display: block;
    height: 25%;
    border-bottom: 15px solid #D96D2B;
    position: relative;
    overflow: hidden;
}





/**
 * 	MAIN CONTROLS
 */
.controls{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 32px;
    background: url('../../assets/images/black_transparent_80.png');
    padding: 4px 2px;
    margin: 0px !important;
    z-index: 99;
}
.controls [class^="icon-battlecode-"]:before, .controls [class*=" icon-battlecode-"]:before  {
	font-size: 22px;
	margin-top: 0.2em;
	margin-bottom: 0.3em;
}
.button{
    width: 32px;
    height: 32px;
    float: left;
    margin: 0 2px;
    padding: 0;
    border: none;
    background: #EEEEEE;
    color: #333333;
    outline: 0;
    overflow: hidden;
    cursor: pointer;
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.button:hover{
	background: #DDDDDD;
	color: #000000;
}
.button.active{
    background: #333333;
    color: #EEEEEE;
}
.set{
    float: left;
}

/* buttons */
.controls .buttons{
	width: 185px;
}
.upload{
    z-index: 999;
    line-height: 0;
    position: relative;
    width: 32px;
    height: 32px;
    cursor: pointer;
}
.upload:before{
	
}

/* slider */
.controls .frameslider{
	padding: 3px 6px 0px 0px;
}
.controls .frameslider input{
    width: 100%;
}

/* note */
.controls .note{
	width: 150px;
    color: #FFF;
    font-weight: normal;
}

/* menu */
.controls .menu-wrapper{
    overflow: visible;
    width: 250px;
    height: 32px;
}
.controls .menu{
	position: absolute;
	right: 0px;
	top: 10px;
}
.controls .menu .dg.a{
	margin-right: 4px;
}

/**
 * 	OVERLAYS
 */
#message, #welcomescreen{
    cursor: pointer;
    color: #fff;
    -webkit-transition:opacity .5s ease-in;
    -moz-transition:opacity .5s ease-in;
    -o-transition:opacity .5s ease-in;
    transition:opacity .5s ease-in;
    position: absolute;
    z-index: 9;
}
.invisible{
    opacity:0;
    color: #000;
    height: 150px;
}

.invisible.hidden{
    display: none;
}



/* full screen */
/* background setup */
.background {
    background-repeat:no-repeat;
    /* custom background-position */
    background-position:50% 50%;
    /* ie8- graceful degradation */
    background-position:50% 50%\9 !important;
}
.fullscreen{
    position: relative;
}
.fullscreen,
.content-a {
    width:100%;
    min-height:100%;
}
.not-fullscreen,
.not-fullscreen .content-a,
.fullscreen.not-overflow,
.fullscreen.not-overflow .content-a {
    height:100%;
    overflow:hidden;
}

/* content centering styles */
.content-a {
    display:table;
}
.content-b {
    display:table-cell;
    position:relative;
    vertical-align:middle;
    text-align:center;
}

/* visual styles */
section {
    background:#9ed100;
}
.not-fullscreen {
    height:50%;
}
