body {
    background:#fff;
    padding:0;
    margin:0;
    font-weight: bold;
    overflow:hidden;
}
.stats{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 160px;
}
.stats .left{
    float: left;
    width: 50%;
}
.left .photo{
    float: left;
    border-bottom-color: #8C030E;
    border-bottom-width: 10px;
    border-bottom-style: solid;
}
.stats .right{
    float: right;
    width: 50%;
}
.right .photo{
    float: right;
    border-bottom-width: 10px;
    border-bottom-color: #0027B3;
    border-bottom-style: solid;
}
.right h3{
    text-align: right;
}
.photo{
    margin: 4px;
    height: 128px;
    width: 128px;
}
.bar{
    margin: 10px 0 0 4px;
    height: 20px;
}
.trophies{
    overflow: hidden;
    list-style: none;
    padding: 0;
}
.trophies li{
    float: left;
    margin: 0 5px;
    display: block;
    width: 20px;
    height: 20px;
    background: #E8DF32;
}
.towers{
    list-style: none;
    overflow: hidden;
    padding: 0;
}
.right .towers li, .right .live, .right .trophies li{
    float: right;
}
.towers li{
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 5px;
}
.towers .alive{
    background-color: #A9D085;

}
.towers .dead{
    background-color: #E7EDE2;
}
.live{
    width: 200px;
    height: 20px;
    display: block;
    background: #008000;
    float: left;
    position: relative;
}
.live > span{
    display: block;
    height: 100%;
    background-color: #2BC253;
    position: relative;
    overflow: hidden;
}
