
.af-icon-arrow-thin-down:before { content: '\e800'; } /* '' */
.af-icon-int-montserrat-03:before { content: '\e801'; } /* '' */
.af-icon-flat-tv-2:before { content: '\e802'; } /* '' */
.af-icon-flat-dishwasher:before { content: '\e803'; } /* '' */
.af-icon-int-montserrat-04:before { content: '\e804'; } /* '' */
.af-icon-arrow-cut-up:before { content: '\e805'; } /* '' */
.af-icon-flat-clock:before { content: '\e806'; } /* '' */
.af-icon-int-montserrat-05:before { content: '\e807'; } /* '' */
.af-icon-flat-waschingmachine:before { content: '\e808'; } /* '' */
.af-icon-arrow-thin-up:before { content: '\e809'; } /* '' */
.af-icon-arrow-cut-right:before { content: '\e80a'; } /* '' */
.af-icon-arrow-cut-left:before { content: '\e80b'; } /* '' */
.af-icon-arrow-cut-down:before { content: '\e80c'; } /* '' */
.af-icon-int-montserrat-07:before { content: '\e80d'; } /* '' */
.af-icon-arrow-hollow-circle-right:before { content: '\e80e'; } /* '' */
.af-icon-arrow-hollow-circle-left:before { content: '\e80f'; } /* '' */
.af-icon-flat-map-filled:before { content: '\e810'; } /* '' */
.af-icon-flat-map-hollow:before { content: '\e811'; } /* '' */
.af-icon-flat-menu-strokes-wide:before { content: '\e812'; } /* '' */
.af-icon-math-thin-minus:before { content: '\e813'; } /* '' */
.af-icon-math-thin-plus:before { content: '\e814'; } /* '' */
.af-icon-arrow-thin-left:before { content: '\e815'; } /* '' */
.af-icon-flat-service:before { content: '\e816'; } /* '' */
.af-icon-flat-cart-outline:before { content: '\e817'; } /* '' */
.af-icon-flat-mail-simple-inverted:before { content: '\e818'; } /* '' */
.af-icon-flat-lock:before { content: '\e819'; } /* '' */
.af-icon-flat-favorite-filled:before { content: '\e81a'; } /* '' */
.af-icon-flat-arrow-up-full:before { content: '\e81b'; } /* '' */
.af-icon-flat-circle:before { content: '\e81c'; } /* '' */
.af-icon-flat-360:before { content: '\e81d'; } /* '' */
.af-icon-flat-circle-fat:before { content: '\e81e'; } /* '' */
.af-icon-control-thin-close:before { content: '\e81f'; } /* '' */
.af-icon-int-montserrat-02:before { content: '\e820'; } /* '' */
.af-icon-flat-shower:before { content: '\e821'; } /* '' */
.af-icon-flat-bath:before { content: '\e822'; } /* '' */
.af-icon-flat-fridge:before { content: '\e823'; } /* '' */
.af-icon-flat-cup:before { content: '\e824'; } /* '' */
.af-icon-flat-fan:before { content: '\e825'; } /* '' */
.af-icon-flat-iron:before { content: '\e826'; } /* '' */
.af-icon-flat-radio:before { content: '\e827'; } /* '' */
.af-icon-flat-elevator:before { content: '\e828'; } /* '' */
.af-icon-flat-balcony:before { content: '\e829'; } /* '' */
.af-icon-int-montserrat-06:before { content: '\e82a'; } /* '' */
.af-icon-int-montserrat-08:before { content: '\e82b'; } /* '' */
.af-icon-int-montserrat-09:before { content: '\e82c'; } /* '' */
.af-icon-arrow-thin-right:before { content: '\e82d'; } /* '' */
.af-icon-int-montserrat-01:before { content: '\e82e'; } /* '' */
.af-icon-arrow-hollow-circle-down:before { content: '\e82f'; } /* '' */
.af-icon-flat-tv:before { content: '\e830'; } /* '' */
.af-icon-flat-oven:before { content: '\e831'; } /* '' */
.af-icon-flat-babycrib:before { content: '\e832'; } /* '' */
.af-icon-flat-towels:before { content: '\e833'; } /* '' */
.af-icon-flat-parking-2:before { content: '\e834'; } /* '' */
.af-icon-flat-family:before { content: '\e835'; } /* '' */
.af-icon-flat-wlan-2:before { content: '\e836'; } /* '' */
.af-icon-arrow-hollow-circle-up:before { content: '\e837'; } /* '' */
.af-icon-flat-pacifier:before { content: '\e838'; } /* '' */
.af-icon-flat-gallery:before { content: '\e839'; } /* '' */